.swiper-container {
    height: 100%;
}

.swiper-slide {
    position: relative;
    height: 100%;
}

.pageFir {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/cover-page/cover_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

.cover-header-top .top-left-line {
    position: absolute;
    top: 6.5%;
    left: 35%;
    width: 7rem;
    height: .5rem;
}

.cover-header-top .top-words {
    font-size: .36rem;
    color: #fff;
    position: absolute;
    top: 6.5%;
    left: 47%;
    height: 2rem;
}

.cover-header-bottom .bottom-words {
    font-size: .36rem;
    color: red;
    position: absolute;
    top: 9.5%;
    left: 35%;
    height: 1rem;
}

.cover-header-bottom .bottom-words .capture {
    font-size: .48rem;
}

.cover-header-bottom .bottom-right-line {
    position: absolute;
    top: 11.5%;
    left: 59%;
    width: 7rem;
    height: .5rem;
}

.cover-slogan .cover-slogan-top {
    position: absolute;
    top: 20%;
    left: 19%;
}

.cover-slogan .cover-slogan-bottom {
    position: absolute;
    top: 30%;
    left: 21%;
}

/* ------------------------------------------------------------------------- */

.pageSec {
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}

.page2-content-left-line {
    width: .05rem;
    height: 4rem;
    background: red;
    position: absolute;
    top: 50%;
    left: 25%;
}

.page2-content-left-point {
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    background: red;
}

.point-fir {
    position: absolute;
    top: 50%;
    left: 24%;
}

.point-sec {
    position: absolute;
    top: 55%;
    left: 24%;
}

.point-thr {
    position: absolute;
    top: 60%;
    left: 24%;
}

.point-for {
    position: absolute;
    top: 65%;
    left: 24%;
}

.point-fif {
    position: absolute;
    top: 70%;
    left: 24%;
}

.point-six {
    position: absolute;
    top: 75%;
    left: 24%;
}

.point-sev {
    position: absolute;
    top: 80%;
    left: 24%;
}

.page2-content-right-item {
    color: #fff;
    font-size: .25rem;
}

.item-fir {
    position: absolute;
    top: 49.5%;
    left: 30%;
}

.item-sec {
    position: absolute;
    top: 54.5%;
    left: 30%;
}

.item-thr {
    position: absolute;
    top: 59.5%;
    left: 30%;
}

.item-for {
    position: absolute;
    top: 64.5%;
    left: 30%;
}

.item-fif {
    position: absolute;
    top: 69.5%;
    left: 30%;
}

.item-six {
    position: absolute;
    top: 74.5%;
    left: 30%;
}

.item-sev {
    position: absolute;
    top: 79.5%;
    left: 30%;
}

/* ---------------------------------------------------------------------------- */

.pageThr {
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}

.page3-content-fir-left {
    position: absolute;
    top: 50%;
    left: 15%;
    width: .8rem;
    height: .8rem;
}

.page3-content-fir-left img {
    width: 100%;
    height: 100%;
}

.page3-content-fir-right {
    position: absolute;
    top: 47%;
    left: 32%;
    color: #fff;
    font-size: .25rem;
    width: 4rem;
}

.page3-content-fir-title {
    padding: .15rem 0;
}

.page3-content-fir-desc {
    line-height: .4rem;
}

.page3-content-fir-devider {
    width: 5.8rem;
    height: .02rem;
    background: #fff;
    position: absolute;
    top: 60%;
    left: 13%;
}

.page3-content-sec-title {
    padding: .15rem 0;
}

.page3-content-sec-left {
    position: absolute;
    top: 62%;
    left: 15%;
    width: 4rem;
    font-size: .25rem;
    color: #fff;
}

.page3-content-sec-right {
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: 65%;
    left: 75%;
}

.page3-content-sec-right img {
    width: 100%;
    height: 100%;
}

.page3-content-sec-devider {
    width: 5.8rem;
    height: .02rem;
    background: #fff;
    position: absolute;
    top: 75%;
    left: 13%;
}

/* ------------------------------------------------------------------------------ */

.pageFor {
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}

.page4-item-fir-pit {
    position: absolute;
    top: 47%;
    left: 13%;
    width: 1.6rem;
    height: 1.2rem;
}

.page4-item-fir-pit img {
    width: 100%;
    height: 100%;
}

.page4-item-fir-desc {
    width: 4rem;
    position: absolute;
    top: 46.5%;
    left: 41%;
    color: #fff;
    line-height: .4rem;
    font-size: .25rem;
}

.firLink {
    position: absolute;
    top: 57%;
    left: 17%;
    font-size: .25rem;
    width: 100%;
}

.firLink a {
    color: yellowgreen
}

.page4-item-fir-devider {
    width: 5.8rem;
    height: .02rem;
    background: #fff;
    position: absolute;
    top: 60%;
    left: 13%;
}

/* ---------------------------------------------- */

.page4-item-sec-pit {
    position: absolute;
    top: 63%;
    left: 76.5%;
    width: .7rem;
    height: 1.2rem;
}

.page4-item-sec-pit img {
    width: 100%;
    height: 100%;
}

.page4-item-sec-desc {
    width: 4rem;
    position: absolute;
    top: 62.5%;
    left: 13%;
    color: #fff;
    line-height: .4rem;
    font-size: .25rem;
}

.secLink {
    position: absolute;
    top: 73%;
    left: 74%;
    font-size: .25rem;
    width: 100%;
}

.secLink a {
    color: yellowgreen
}

.page4-item-sec-devider {
    width: 5.8rem;
    height: .02rem;
    background: #fff;
    position: absolute;
    top: 76%;
    left: 13%;
}

/* ------------------------------------------------- */

.page4-item-thr-pit {
    position: absolute;
    top: 79%;
    left: 13%;
    width: 1.6rem;
    height: 1.2rem;
}

.page4-item-thr-pit img {
    width: 100%;
    height: 100%;
}

.page4-item-thr-desc {
    width: 4rem;
    position: absolute;
    top: 78.5%;
    left: 41%;
    color: #fff;
    line-height: .4rem;
    font-size: .25rem;
}

.thrLink {
    position: absolute;
    top: 89%;
    left: 17%;
    font-size: .25rem;
    width: 100%;
}

.thrLink a {
    color: yellowgreen
}

.page4-item-thr-devider {
    width: 5.8rem;
    height: .02rem;
    background: #fff;
    position: absolute;
    top: 92%;
    left: 13%;
}

/* ------------------------------------------------------------------------ */

.pageFiv {
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}

.page5-fir-left {
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 47%;
    left: 13%;
}

.page5-fir-left img {
    width: 100%;
    height: 100%;
}

.page5-fir-mid {
    position: absolute;
    width: 3.5rem;
    height: .3rem;
    top: 49%;
    left: 26%;
}

.page5-fir-mid img {
    width: 100%;
    height: 100%;
}

.page5-fir-right {
    position: absolute;
    top: 49%;
    left: 78%;
    font-size: .25rem;
    color: #fff;
}

/* ---------------------------------- */

.page5-sec-left {
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 55%;
    left: 13%;
}

.page5-sec-left img {
    width: 100%;
    height: 100%;
}

.page5-sec-mid {
    position: absolute;
    width: 3.5rem;
    height: .3rem;
    top: 57%;
    left: 26%;
}

.page5-sec-mid img {
    width: 100%;
    height: 100%;
}

.page5-sec-right {
    position: absolute;
    top: 57%;
    left: 78%;
    font-size: .25rem;
    color: #fff;
}

/* -------------------------------------------------- */

.page5-thr-left {
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 63%;
    left: 13%;
}

.page5-thr-left img {
    width: 100%;
    height: 100%;
}

.page5-thr-mid {
    position: absolute;
    width: 3.5rem;
    height: .3rem;
    top: 65%;
    left: 26%;
}

.page5-thr-mid img {
    width: 100%;
    height: 100%;
}

.page5-thr-right {
    position: absolute;
    top: 65%;
    left: 78%;
    font-size: .25rem;
    color: #fff;
}

/* ------------------------------------- */

.page5-for-left {
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 71%;
    left: 13%;
}

.page5-for-left img {
    width: 100%;
    height: 100%;
}

.page5-for-mid {
    position: absolute;
    width: 3.5rem;
    height: .3rem;
    top: 73%;
    left: 26%;
}

.page5-for-mid img {
    width: 100%;
    height: 100%;
}

.page5-for-right {
    position: absolute;
    top: 73%;
    left: 78%;
    font-size: .25rem;
    color: #fff;
}

/* ------------------------------- */

.page5-fif-left {
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 79%;
    left: 13%;
}

.page5-fif-left img {
    width: 100%;
    height: 100%;
}

.page5-fif-mid {
    position: absolute;
    width: 3.5rem;
    height: .3rem;
    top: 81%;
    left: 26%;
}

.page5-fif-mid img {
    width: 100%;
    height: 100%;
}

.page5-fif-right {
    position: absolute;
    top: 81%;
    left: 78%;
    font-size: .25rem;
    color: #fff;
}

/* ----------------------------------------------------------------- */

.pageSix {
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}

.code-container {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-left: -1.5rem;
}

.code-container img {
    width: 100%;
    height: 100%;
}

.tip {
    position: absolute;
    top: 72%;
    width: 5rem;
    height: 2rem;
    left: 50%;
    margin-left: -2.5rem;
    text-align: center;
    font-size: .25rem;
    color: #fff;
}

.message {
    position: absolute;
    top: 78%;
    width: 7rem;
    height: 3rem;
    left: 50%;
    margin-left: -3.5rem;
    text-align: center;
    font-size: .3rem;
    color: red;
}

/* ---------------------------------------common----------------------------------- */

.page-header {
    width: 100%;
    height: 4.58rem;
}

.page-header img {
    width: 100%;
    height: 100%;
}

.page-title-top-line {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 7rem;
}

.page-title-top-words {
    position: absolute;
    top: 33%;
    left: 40%;
    height: 2rem;
    color: #fff;
    font-size: .36rem;
}

.page-title-bottom-words {
    position: absolute;
    top: 36.5%;
    left: 44%;
    height: 1rem;
    color: red;
    font-size: .24rem;
}

.page-title-bottom-line {
    position: absolute;
    top: 35%;
    left: 62%;
    width: 7rem;
}

.progress {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.progress-bar {
    display: block;
    float: left;
    width: 1.25rem;
    height: .05rem;
    background: red;
}

.footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -.2rem;
    width: .4rem;
    height: .4rem;
    z-index: 100;
    opacity: 1;
    -webkit-animation: arrowFlash 1.6s linear 0s infinite;
    animation: arrowFlash 1.6s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.footer img {
    display: block;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes arrowFlash {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes arrowFlash {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        /**/
        opacity: 0.1;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

.audio {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 999;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.audioMove {
    -webkit-animation: audioMove 1s linear infinite both;
    animation: audioMove 1s linear infinite both;
}

@-webkit-keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}