.swiper-container {
    height: 100%;
}

.swiper-slide {
    position: relative;
    height: 100%;
}

.pageFir {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/cover-page/cover_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

.cover-header-top .top-left-line{
    position: absolute;
    top: 6.5%;
    left: 35%;
    width: 7rem;
    height: .5rem;
}

.cover-header-top .top-words{
    font-size: .36rem;
    color: #fff;
    position: absolute;
    top: 6.5%;
    left: 47%;
    height: 2rem;
}

.cover-header-bottom .bottom-words{
    font-size: .36rem;
    color: red;
    position: absolute;
    top: 9.5%;
    left: 35%;
    height: 1rem;
}

.cover-header-bottom .bottom-words .capture{
    font-size: .48rem;
}

.cover-header-bottom .bottom-right-line{
    position: absolute;
    top: 11%;
    left: 59%;
    width: 7rem;
}

.cover-slogan .cover-slogan-top{
    position: absolute;
    top: 20%;
    left: 19%;
}

.cover-slogan .cover-slogan-bottom{
    position: absolute;
    top: 30%;
    left: 21%;
}

.pageSec{
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}



.pageThr{
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
}

.pageFor{
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
}

.pageFiv{
    background: url('../img/common/page-bg.png') no-repeat center center;
    background-size: 100% 100%;
}















.page-title-top-line{
    position: absolute;
    top: 33%;
    left: 33%;
    width: 7rem;
}

.page-title-top-words{
    position: absolute;
    top: 33%;
    left: 40%;
    height: 2rem;
    color: #fff;
    font-size: .36rem;
}

.page-title-bottom-words{
    position: absolute;
    top: 36.5%;
    left: 44%;
    height: 1rem;
    color: red;
    font-size: .24rem;
}

.page-title-bottom-line{
    position: absolute;
    top: 35%;
    left: 62%;
    width: 7rem;
}


.progress{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.progress-bar{
    display: block;
    float: left;
    width: 1.5rem;
    height: .05rem;
    background: red;
}

.footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -.2rem;
    width: .4rem;
    height: .4rem;
    z-index: 100;
    opacity: 1;
    -webkit-animation: arrowFlash 1.6s linear 0s infinite;
    animation: arrowFlash 1.6s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.footer img{
    display: block;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        /**/
        opacity: 0.1;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

.audio {
    display: none;
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;

}

.audioMove {
    -webkit-animation: audioMove 1s linear infinite both;
    animation: audioMove 1s linear infinite both;
}

@-webkit-keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}